
<%= form_for(@user, url: users_profile_path, method: :get) do |form| %>

  <% if @user.errors.any? %>
    <div id="error_explanation" style="margin-top: 10px;">
      <h2>
        <%= pluralize(@user.errors.count, "error") %> <%= t('error') %>
      </h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li class="bg-danger text-white"><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name, {class: "form-control col-sm-6", placeholder: "name"} %>
  </p>

  <p>
    <%= form.label :lastname %><br>
    <%= form.text_field :lastname, {class: "form-control col-sm-6", rows: 10, placeholder: "lastname"} %>
  </p>

  <p>
    <%= form.label :role %>
    <%= form.text_field :role %>
  </p>
  <p>
    <%= form.submit t('publish'), {class: "btn btn-primary btn-lg col-sm-6 bg-secondary"} %>
  </p>
<%end%>
