  <%= form_with model: @item, local: true do |form| %>

  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@item.errors.count, "error") %> prohibited
        this item from being saved:
      </h2>
      <ul>
        <% @item.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <strong>Author: </strong>
    <% if current_user %>
      <%=current_user.email %>
    <% else %>
      Anonymous user
    <% end %>

  </p>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title, {class: "form-control col-sm-6" } %>
  </p>

  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description, {class: "form-control col-sm-6", rows: 10} %>
  </p>

  <p>
    <%= form.label :image %>
    <%= form.file_field :image %>
  </p>

  <p>
    <%= form.submit "Publish", { class: "btn btn-primary btn-lg col-sm-6 bg-secondary"}%>
  </p>

<% end %>
