<%= form_with model: @item, local: true do |form| %>

  <% if @item.errors.any? %>
    <div id="error_explanation" style="margin-top: 10px;">
      <h2>
        <%= pluralize(@item.errors.count, "error") %> <%= t('error') %>
      </h2>
      <ul>
        <% @item.errors.full_messages.each do |msg| %>
          <li class="bg-danger text-white"><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <strong><%= t('author') %>: </strong>
    <% if current_user %>
      <%= current_user.email %>
    <% else %>
      <%= t('anonymousUser') %>
    <% end %>

  </p>
  <p>
    <%= form.label t(:title.downcase) %><br>
    <%= form.text_field :title, {class: "form-control col-sm-6", placeholder: t('newItemTitle')} %>
  </p>

  <p>
    <%= form.label t(:description.downcase) %><br>
    <%= form.text_area :description, {class: "form-control col-sm-6", rows: 10, placeholder: t('description')} %>
  </p>

  <p>
    <%= form.label t(:image.downcase) %>
    <%= form.file_field :image %>
  </p>

  <p>
    <%= form.submit t('publish'), {class: "btn btn-primary btn-lg col-sm-6 bg-secondary"} %>
  </p>

<% end %>
