<h1><span class="badge badge-secondary col-sm-12 bg-dark text-left "><%= t('itemsWithoutDelivery') %></span></h1>

<div style="margin-bottom: 10px">
  <%= form_tag(items_without_delivery_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: t('searchItems') %>
    <%= submit_tag t('search'), :name => nil %>
  <% end %>
</div>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col"><%= t('title') %></th>
    <th scope="col"><%= t('createdBy') %></th>
    <th scope="col"><%= t('addressFrom') %></th>
    <th scope="col"><%= t('addressTo') %></th>
    <th scope="col"><%= t('courierFee') %></th>
    <th scope="col">-------------------- </th>
  </tr>
  </thead>
  <tbody>
  <% @items.each do |item| %>
    <tr>
      <td><%= item.title %></td>
      <% if item.user %>
        <td><%= item.user.email %></td>
      <% else %>
        <td><%= t('anonymousUser') %></td>
      <% end %>

      <% if item.adress_from %>
        <td><%= item.adress_from %></td>
      <% else %>
        <td> -</td>
      <% end %>

      <% if item.adress_to %>
        <td><%= item.adress_to %></td>
      <% else %>
        <td> -</td>
      <% end %>
      <% if item.courier_fee %>
        <td><%= item.courier_fee %></td>
      <% else %>
        <td> -</td>
      <% end %>

      <td><%= link_to t('show'), item_path(item), {class: "btn btn-primary bg-secondary col-sm-6"} %></td>
    </tr>
  <% end %>
  </tbody>
</table>
