<h1><span class="badge badge-secondary col-sm-12 bg-dark text-left "><%= t('availableItems') %></span></h1>
<%= form_tag(items_without_buy_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: t('searchItems') %>
    <%= submit_tag t('search'), :name => nil %>
<% end %>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col"><%= t('title') %></th>
    <th scope="col"><%= t('createdBy') %></th>
    <th scope="col"><%= t('boughtBy') %></th>
    <th scope="col"><%= t('deliveredBy') %></th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <% @items.each do |item| %>
    <tr>
      <td><%= item.title %></td>
      <% if item.user %>
        <td><%= item.user.email %></td>
      <% else %>
        <td><%= t('anonymousUser') %></td>
      <% end %>

      <% if item.bought_by %>
        <td><%= User.find(item.bought_by).email %></td>
      <% else %>
        <td> - </td>
      <% end %>

      <% if item.delivered_by %>
        <td><%= User.find(item.delivered_by).email %></td>
      <% else %>
        <td> - </td>
      <% end %>

      <td><%= link_to t('show'), item_path(item), {class: "btn btn-primary bg-secondary col-sm-6"} %></td>
    </tr>
  <% end %>
  </tbody>
</table>
