<!DOCTYPE html>
<html>
<head>
  <title>Shop</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<body>

<div class="row top-container btn-danger">
  <div class="col-sm-12" style="margin-top: 10px">
    <h1 style="float: left; left: 50%; position: relative">Shop</h1>
    <% if user_signed_in? %>
      <div style="float: left">
        <p><%= t('loggedInAs') %> <br> <%= current_user.email %></p>
      </div>
    <% end %>
    <div>
      <div class="btn-group" style="float: right; margin-right: 10px">
        <button type="button" class="btn btn-primary btn-lg btn-block bg-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Language
        </button>
        <div class="dropdown-menu" style="margin-right: 10px; background-color: indigo">
          <a class="dropdown-item" href="#"><%= link_to "English", {:locale => 'en'}, {class: "btn btn-primary btn-lg col-sm-12 bg-secondary"} %></a>
          <a class="dropdown-item" href="#"><%= link_to "Latvian", {:locale => 'lv'}, {class: "btn btn-primary btn-lg col-sm-12 bg-secondary"} %></a>
          <a class="dropdown-item" href="#"><%= link_to "Russian", {:locale => 'ru'}, {class: "btn btn-primary btn-lg col-sm-12 bg-secondary"} %></a>
        </div>
      </div>
    </div>
    <div class="btn-group" style="float: right; margin-right: 10px">
      <button type="button" class="btn btn-primary btn-lg btn-block bg-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= t('user') %>
      </button>
      <div class="dropdown-menu" style="margin-right: 10px; background-color: indigo">
        <% if user_signed_in? && current_user.is_admin? %>
          <a class="dropdown-item" href="#"><%= link_to t('adminPanel'), {:controller => '/admin/users'}, {class: "btn btn-danger btn-lg btn-block col-sm-12 "} %></a>
        <% end %>
        <% if user_signed_in? %>
          <a class="dropdown-item" href="#"><%= link_to t('editProfile'), edit_user_registration_path, {class: "btn btn-primary btn-lg col-sm-12 bg-secondary"} %></a>
          <a class="dropdown-item" href="#"><%= link_to t('logOut'), destroy_user_session_path, {method: :delete, class: "btn btn-danger btn-lg col-sm-12"} %></a>
        <% else %>
          <a class="dropdown-item" href="#"><%= link_to t('signUp'), new_user_registration_path, {class: "btn btn-primary btn-lg col-sm-12 bg-secondary"} %></a>
          <a class="dropdown-item" href="#"><%= link_to t('logIn'), new_user_session_path, {class: "btn btn-success btn-lg col-sm-12"} %></a>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2">
      <div class="sidenav">
        </br>
        <%= link_to t('allItems'), {:controller => '/items', :action => :index}, {class: "btn btn-primary btn-lg btn-block col-sm-12 bg-secondary"} %>
        </br>
        <%= link_to t('itemsWithoutDelivery'), {:controller => '/items', :action => :without_delivery}, {class: "btn btn-primary btn-lg btn-block col-sm-12 bg-secondary"} %>
        </br>
        <%= link_to t('availableItems'), {:controller => '/items', :action => :without_buy}, {class: "btn btn-primary btn-lg btn-block col-sm-12 bg-secondary"} %>
        </br>
        <%= link_to t('createNewItem'), {:controller => '/items', :action => :new}, {class: "btn btn-primary btn-lg btn-block col-sm-12 bg-secondary  "} %>
        </br>
        <h4>
          <% if user_signed_in? %>
            <%= link_to t('myItems'), users_my_items_path, {method: :get, class: "btn btn-success  btn-lg col-sm-12"} %>
            </br>
            </br>
            <%= link_to t('takenForDelivery'), users_delivery_path, {method: :get, class: "btn btn-success btn-lg col-sm-12"} %>
            </br>
            </br>
            <%= link_to t('boughtItems'), users_buy_path, {method: :get, class: "btn btn-success  btn-lg col-sm-12"} %>
            </br>
          <% end %>
        </h4>
      </div>
    </div>

    <div class="col-sm-10">
      <%= yield %>
    </div>
  </div>
</div>

</body>
</html>
